/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* 
 1. vi tri
 2. kich thuoc
 3. mau sac
 4. kieu dang
 */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
/* Header */

 header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
 }
 #nav li{
     display: inline-block;
     float: right;
 }
 ul li:first-child{
     margin-right: 100px;
 }
 #nav a{
     font-size: 20px;
     font-weight: 500;
     line-height: 80px;
     padding: 32px;
     color: #000;
     text-decoration: none;
 }
 #nav a:hover{
     font-weight: 600;
 }
 /* Content */

 /* section: resume */
 .resume {
     padding: 160px 80px 80px;
}
.resume .content{
    text-align: justify;
}
.resume h1{
    font-weight: 700;
    line-height: 60px;
}
.resume p{
    padding: 24px 0 40px;
    line-height: 1.4;
}
.resume a{
    text-decoration: none;
    padding: 14px 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
    color: #fff;
    background-color: #FF6464;
}
.resume a:hover{
    background-color: #df4b4b;
}
.resume img{
    float: right;
}
.avatar{
    position: relative;
    top: 8px
}
.avatar-child{
    position: absolute;
    top: -12px;
    right: 8px;
}

/* Section: Post */

.post-section{
    padding: 10px 200px 40px;
    background: #EDF7FA;    
}
.post-detal {
    padding: 28px 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}
.section-name{
    font-size: 22px;
    width: 400;
    line-height: 48px;
}
.post-title{
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 12px;
}
.post-sub-title p{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 16px;
}
.content{
    font-weight: 400;
    line-height: 1.4;
}
.post__right a{
    display: inline-block;
    width: 100%;
    padding-bottom: 16px;
    line-height: 48px;
    text-decoration: none;
    text-align: right;
}

/* Section: Featured works */
.works-section{
    margin: 0 80px;
    padding: 24px 0;
    border-bottom: 1px solid #E0E0E0;
    
}
.work-img img{
    width: 90%;
    border-radius: 6px;
}
.work-dental{
    padding:0 ;
}
.work-title{
    font-size: 30px;
    font-weight: 700;
}
.work-sub-title p{
    display: inline-block;
    margin-right: 20px;
}
.work-sub-title .sub-time{
    padding: 1px 12px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #142850;
    border-radius: 16px;
}
.work-sub-title .sub-content{
    font-size: 20px;
    color: #8695A4;
}
footer{
    text-align: center;
    padding: 120px 0 36px;
}
footer .contact-icon a{
    padding: 16px;
    font-size: 28px;
    color: #000;
    text-decoration: none;
    
}
footer p{
    padding-top: 12px;
    font-size: 14px;
}